<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<table>

        <thead>
            <tr>
                <td>번호</td>
                <td>상품명</td>
                <td>상품설명</td>
                <td>가격</td>
                <td>상품등록일</td>

            </tr>
        </thead>
        <tbody>
            <tr th:each="itemDto: ${itemList}">
                <!--<td th:if="${itemDtoStat.even}" th:text="짝수"></td>
                <td th:unless="${itemDtoStat.even}" th:text="홀수"></td>-->
                <td th:switch="${itemDtoStat.even}">
                    <span th:case="true">짝</span>
                    <span th:case="false">홀</span>
                </td>
                <td th:text="${itemDto.name}"></td>
                <td th:text="${itemDto.detail}"></td>
                <td th:text="${itemDto.price}"></td>
                <td th:text="${itemDto.regTime}"></td>

            </tr>

        </tbody>

</table>

</body>
</html>